body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.contenedor {
    position: absolute; /*Posicionamiento absoluto*/
    top: 50%; /*Desde arriba, colocar al 50% de la pantalla*/
    left: 50%; /*Desde la izquierda, colocar al 50% de la pantalla*/
    height: 350px; /*Le ponemos el valor del alto*/
    width: 700px; /*Le ponemos el valor del ancho*/
    margin-top: -175px; /*Restamos la mitad de alto para centrarlo verticalmente*/
    margin-left: -350px;
    background-repeat: no-repeat;
    background:url(../imagenes/rect3023.png);
    background-color: #045491;

    border:1px solid #d5d5d5; 
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
}
.panel { 
    width:320px; 
    height:220px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-110px;
    margin-left:-160px;
}
.box { 
    width:320px; 
    overflow:hidden; 
    padding:0; 
    background:#fff; 
    border:1px solid #d5d5d5; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}
.copy { 
    float:right; 
    color:#9eabae; 
    font-size:12px; 
    margin:5px 5px 0 0; 
    text-shadow:1px 1px 1px #fff;
}

